@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body{
  margin: 0;
  padding: 0;
  height: 0;
  font-family: 'Raleway', sans-serif;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  
}

.active{
  color: orange;
}

.altura-calculada {
  height: calc(100vh - 148px);
  background-image: url(/bg-transparente.png);
}
